* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(44, 44, 44);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 800px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

label {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}


input {
    width: 400px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 10px;
}

button {
    width: 417px;
    height: 45px;
    border-radius: 8px;
    background-color: black;
    color: white;
}