* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 800px;
    box-shadow: 0 0px 01px rgb(0, 0, 0);
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

label {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}


input {
    width: 400px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 10px;
}

.btn-edit{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(240, 184, 32);
    color: white;
    border: none;
    cursor: pointer;
}

.btn-del{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(240, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
}

.top {
   display: flex;
   justify-content: space-between;
}


a {
    text-decoration: none;
    color: black;
    border-radius: 8px;
}

table{
    width: 1000px;
    margin-top: 20px;
    box-shadow: 0 0px 01px rgb(0, 0, 0);
    border-radius: 10px;
}



th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
